<!doctype html>
<html>
	<head>
        <link rel="stylesheet" href="lib/codemirror.css">
        <link rel="stylesheet" href="smview.css">
		<title>SMView</title>
	</head>
	<body>
		<div id="left">
			<textarea name="code" id="codeArea">Paste your model code here, just start typing, or upload a file</textarea>
			<div id="uploader">
				<span>Drop SMV file here</span>
				<span class="small">or just start typing</span>
			</div>
		</div>
		<div id="right">
			<div class="wrapper">

			</div>
		</div>
	</body>

	<script src="lib/codemirror.js"></script>
	<script src="smv.js"></script>
	<script src="underscore.js"></script>
	<script src="jquery-1.8.3.js"></script>
	<script src="jquery.ba-bbq.js"></script>
	<script src="smview.js"></script>
</html>